body
{
	overflow-y: scroll;
	display: -webkit-box;
	-webkit-box-pack: center;
	background-color: #C3C3C3;
	/*end, justify, start*/
}
*
{
	margin: 0px;
	padding: 0px;
}
h1
{
	font: bold 20px tahoma;
	text-align: center;
}
h4, h2
{
	font: bold 14px tahoma;
}
header, section, aside, nav, footer, article, hgroup
{
	display: block;
	
}
#big_wrapper
{
	max-width: 1000px;
	margin: 10px 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
}
#top_header
{
	background: #808080;
	border: 3px solid #000000;
	padding: 20px;
}
#top_menu
{
	border-bottom: 3px solid #000000;
	border-left: 3px solid #000000;
	border-right: 3px solid #000000;
	background: #FFA500;
	color: #444443;
	text-align: center;
	padding: 2px;
}
#top_menu li
{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px tahoma;
	border: 1px solid #000000;
	border-radius: 5px;
	width: 75px;
	background: #ADD8E6;
	/*cursor: pointer;*/
}
#top_menu a
{
	color: #FFFFFF;
}
#top_menu li:hover
{
	color: #BDB76B;
	background: #FFFF66;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .65);
}
#new_div
{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
#main_section
{
	border: 7px solid #FF4000;
	-webkit-box-flex: 1;
	margin: 20px;
	padding: 2opx;
}
#side_news
{
	width: 220px;
	border: 1px solid #BBB224;
	margin: 20px 0px;
	padding: 30px;
	background: #DCDCDC;
	font-family: arial;
}
#the_footer
{
	text-align: center;
	padding: 20px;
	border-top: 2px solid #000000;
}
.banner
{
	width: 100%;
	height: auto;
}
.pics_image
{ 
    width: 100%;
	height: auto;
}
@media only screen and (max-width: 720px)
{
	#top_menu li
	{
		width: 97.5%;
	}
	section
	{
		border: 5px solid black;
	}
}
.container
{
	position: relative;
	width: 50%;
}
.image
{
	display: block;
	width: 955px;
	height: 200px;
}
.overlay
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: 1.25s ease;
}
.container:hover .overlay
{
	width: 50%;
}
.text
{
	white-space: nowrap;
	color: #FFFFFF;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*controls position of text*/
	-ms-transform: translate(-50%, -50%);
}
.front
{
	font-size: 60px;
	-webkit-text-stroke: 2px #FFFF00;
}
.dark
{
	background-color: #AD00AD;
}
.light
{
	background-color: #FF94C9;
}
table
{
	border: 4px #FF0000 solid;
}
#page
{
	margin: auto;
}
